.container__mini-cards {
  position: relative;
  background-image: url('../assets/img/fondo.png');
}
.sub-container-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container-card {
  display: flex;
  border-radius: 99px;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  background-color: #fff;
  -webkit-box-shadow: 12px 14px 22px -11px rgba(0,0,0,0.41);
  -moz-box-shadow: 12px 14px 22px -11px rgba(0,0,0,0.41);
  box-shadow: 12px 14px 22px -11px rgba(0,0,0,0.41);
}

.icon-card {
  width: 3rem;
}
.container-card .texts{
  text-align: center;
  padding-left: .8rem;
}
.container-card .texts h3{
  color: black;
  font-weight: 800;
}
.container-card .texts p {
  font-size: .6rem;
}


@media screen and (min-width: 768px) {
  .sub-container-cards {
    position: absolute;
    top: -4rem;
  }
}

@media (max-width: 768px) {
  .container__mini-cards {
    position: absolute;
  }
}
