
/*========== NAV ==========*/
.nav{
  width: 100vw;
  padding: 0 10px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo{
  width: 200px;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-medium);
}


.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.mav__menu .show-menu{
  top: var(--header-height);
}
/* .hidden-menu{
  top: -100%;
} */

/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.nav__button,
.nav__button-alt{
  background-color: var(--first-color-alt);
  color: white;
  padding: 1px 30px;
  border-radius: 10px;
}
.nav__button-alt{
  display: none;
}

.nav__button:hover,
.nav__button-alt:hover{
  background-color: var(--first-color);
}


@media screen and (min-width: 768px) {
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
    gap: var(--mb-2);
  }
  .nav__item{
    /* margin-left: var(--mb-5); */
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__button-alt{
    display: block;
  }
  .nav__button{
    display: none;
  }
}
