@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;

  /* VARIABLES PROPIAS */
  --primary-color: #1C245B;
  --secondary-color: #00A7E1;
  --tertiary-color: #3C3C3B;
  --quaternary-color: #9B9B9A;
  --font-letter: 16px;
  --font-medium: 20px;
  --font-x-medium: 26px;
  --font-large: 32px;
  --font-x-large: 58px;
}
